In [27]:
import pandas as pd
df=pd.read_csv('data.csv')
df.head()

,State/UT,Year,Causes,Education_status,Means adopted,Professional_Profile,Social_Status,Gender,Age_group,Number of suicides
0,A & N Islands,2001,Illness (Aids/STD),Primary,No,Student,Never Married,F,0-14,0
1,A & N Islands,2001,Bankruptcy or Sudden change in Economic,Primary,No,Student,Never Married,F,0-14,0
2,A & N Islands,2001,Cancellation/Non-Settlement of Marriage,Middle,No,Student,Never Married,F,0-14,0
3,A & N Islands,2001,Physical Abuse (Rape/Incest Etc.),Primary,No,Student,Never Married,F,0-14,0
4,A & N Islands,2001,Dowry Dispute,Middle,No,Student,Never Married,F,0-14,0

In [6]:
df.describe()

              Year  Number of suicides
count  1300.000000         1300.000000
mean   2003.000000            0.497692
std       1.414758            1.454200
min    2001.000000            0.000000
25%    2002.000000            0.000000
50%    2003.000000            0.000000
75%    2004.000000            0.000000
max    2005.000000           13.000000

In [28]:
df['Social_Status'].unique()

array(['Never Married', 'Divorcee', 'Widowed', 'Married', 'Seperated',
       'Widowed/Widower'], dtype=object)